@model List<GameProduct>;

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Our Shop</h3>
                <span class="breadcrumb"><a href="#">Home</a> > Our Shop</span>
            </div>
        </div>
    </div>
</div>

<div class="section trending">
    <div class="container">
        <ul class="trending-filter">
            <li>
                <a class="is_active" href="#!" data-filter="*">Show All</a>
            </li>
            <li>
                <a href="#!" data-filter=".adv">Adventure</a>
            </li>
            <li>
                <a href="#!" data-filter=".str">Strategy</a>
            </li>
            <li>
                <a href="#!" data-filter=".rac">Racing</a>
            </li>
        </ul>
        @{
            if(Model is not null)
            {
                foreach (GameProduct product in Model)
                {
                     <div class="row trending-box">
                <div class="col-lg-3 col-md-6 align-self-center mb-30 trending-items col-md-6 adv">
                    <div class="item">
                        <div class="thumb">
                            <a href="product-details.html"><img src="~/admins/assets/images/@product.ImgUrl" alt=""></a>
                            <span class="price">@product.Price$</span>
                        </div>
                        <div class="down-content">
                            <span class="category">@product.Genre</span>
                            <h4>@product.Name</h4>
                            <a href="product-details.html"><i class="fa fa-shopping-bag"></i></a>
                        </div>
                    </div>
                </div>
                    </div>
                }
            }
        }
               